body
{
  background-color:  white;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  /* background-color: white; */
}


#errorBlock{
  display: none;
}

#errorBlock2{
  display: none;
}
